header {
  padding: 154px 0 100px;
  background-color: #46084a;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
    background-color: #46084a;
  }
}

section {
  padding: 20px 0;
}
