<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ AppTitle }}</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="https://github.com/vnemes/LiveRATT/tree/SSD_Angular">Github</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Header -->
<header class="text-white">
  <div class="container text-center">
    <h1>Welcome to {{AppTitle}}</h1>
    <p class="lead">A web application useful for viewing bus, tram or trolley arrival times of the public transport
      system of Timisoara.</p>
    <a role="button" class="js-scroll-trigger btn btn-outline-light" href="#appHook">Get started!</a>
  </div>
  <section class="align-bottom" id="appHook"></section>
</header>

<!-- Application -->
<section id="content">
  <div class="container">
    <app-selector></app-selector>
  </div>
</section>

<!-- About -->
<section id="about" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2 class="display-4">About the Application</h2>

        <br>
        <p class="lead">
          <!--TODO remove inline CSS-->
        In order for the routes to update in <mark style="background-color:#a585a7; color:white">real-time</mark> (every 30 seconds - the official RATT update rate), the NodeJS server
        must be running in order to cyclically scrap the RATT website.
      </p>
        <div class="alert alert-secondary" role="alert">
          This app was created using <strong>Angular5</strong>, <strong>Firebase</strong> and <strong>NodeJS</strong>(backend).
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"> vnemes 2017</p>
  </div>
</footer>
</body>
